*{margin: 0%;
padding: 0%;

}
  
  
  body{
  background-image:url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
  }
  .margin{
    margin: 50px;
  }
  .font img{
    height: 250px;
    width: 400px;
  }
  .messi a{
    font-size:25px;
    color:black;
  }
.messi img{
    margin-top: 20px;
   height: 400px; 
   width: 200px;
}
